Link: https://pynative.com/python-list-exercise-with-solutions/

My notes:

*   Lists are iterable (see Question 3), mutable and ordered
*   **list1.append(elem)** adds an element to the end of the list
*   **list1 = []** can be used to initialize a list
*   **list1[i]** outputs the i'th element in list1
*   **list2 = list1.copy()** https://www.programiz.com/python-programming/shallow-deep-copy (Question 8)

**Question 1: Reverse a list in Python**

Input:
list1 = [100, 200, 300, 400, 500]

Output:
list_output = [500, 400, 300, 200, 100]

In [1]:
list1 = [100, 200, 300, 400, 500]

list_output = []
for i in range(len(list1)):
  list_output.append(list1[-1-i])

list_output

[500, 400, 300, 200, 100]

**Question 2: Concatenate two lists index-wise**

list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

output_list = ['My', 'name', 'is', 'Kelly']

In [2]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

output_list = []
for i in range(len(list1)):
  output_list.append(list1[i]+list2[i])

output_list

['My', 'name', 'is', 'Kelly']

**Question 3: Turn every item of a list into its square**

numbers = [1, 2, 3, 4, 5, 6, 7]

output_list = [1, 4, 9, 16, 25, 36, 49]

In [7]:
numbers = [1, 2, 3, 4, 5, 6, 7]

output_list = []
for elements in numbers:
  output_list.append(elements*elements)

output_list

[1, 4, 9, 16, 25, 36, 49]

**Question 4: Concatenate two lists in the following order**

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

output_list = ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [8]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

output_list = []

for elements1 in list1:
  for elements2 in list2:
    output_list.append(elements1+elements2)

output_list

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

**Question 5: Iterate both lists simultaneously**

list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

expected output:

10 400

20 300

30 200

40 100

In [12]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i in range(len(list1)):
  print(list1[i],list2[-1-i])

10 400
20 300
30 200
40 100

**Question 6: Remove empty strings from the list of strings**

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

output_list = ["Mike", "Emma", "Kelly", "Brad"]

In [13]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

output_list = []

for elements in list1:
  if elements=="":
    pass
  else:
    output_list.append(elements)

output_list

['Mike', 'Emma', 'Kelly', 'Brad']

**Question 7: Add new item to list after a specified item**

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

output_list = [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [18]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

**Question 8: Extend nested list by adding the sublist**

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

sub list to add

sub_list = ["h", "i", "j"]

output_list = ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [28]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

output_list = list1.copy()

for elements in sub_list:
  list1[2][1][2].append(elements)

output_list

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

**Question 9: Replace listâ€™s item with new value if found**

list1 = [5, 10, 15, 20, 25, 50, 20]

output [5, 10, 15, 200, 25, 50, 20]

In [31]:
list1 = [5, 10, 15, 20, 25, 50, 20]

list1[3]=200
list1

[5, 10, 15, 200, 25, 50, 20]

**Question 10: Remove all occurrences of a specific item from a list.**

list1 = [5, 20, 15, 20, 25, 50, 20]

output_list = [5, 15, 25, 50]

In [32]:
list1 = [5, 20, 15, 20, 25, 50, 20]

output_list = []

for elements in list1:
  if elements == 20:
    pass
  else:
    output_list.append(elements)

output_list

[5, 15, 25, 50]