My notes:

**if** Loop:
*   if -> **elif** -> else

**for** Loop:
*   **pass**: skip it, **break**: stop the loop (Question 5)


Floor division in Python: **a // b**

**Question 1: Print First 10 natural numbers using while loop**

In [ ]:
num = 1
while(num<=10):
  print(num)
  num+=1

1
2
3
4
5
6
7
8
9
10

**Question 2: Write a program to print the following number pattern using a loop.**

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
print("Number Pattern ")

# Decide the row count. (above pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

1 2
12 3
123 4
1234 5

**Question 3: Calculate the sum of all numbers from 1 to a given number**

a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

In [2]:
sum = 0

for i in range(1,11):
  sum+=i

sum

55

**Question 4: Write a program to print multiplication table of a given number**

For example, num = 2 so the output should be

2

4

6

8

10

12

14

16

18

20

In [4]:
for i in range(1,11):
  print(i*2)

2
4
6
8
10
12
14
16
18
20

**Question 5: Display numbers from a list using loop**

program to display only those numbers from a list that satisfy the following conditions

*   The number must be divisible by five
*   If the number is greater than 150, then skip it and move to the next number
*   If the number is greater than 500, then stop the loop


Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

output:

75

150

145

In [6]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
  if num>500:
    break
  elif num>150:
    pass
  elif num%5==0:
    print(num)

75
150
145

**Question 6: Count the total number of digits in a number**

count the total number of digits in a number using a while loop.
For example, the number is 75869, so the output should be 5.

In [14]:
num = 75869
cnt = 0

while num != 0:
    num = num // 10 # floor division
    cnt+=1

cnt

5

**Question 7: Print the following pattern**

use for loop to print the following reverse number pattern

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

**Question 8: Print list in reverse order using a loop**

list1 = [10, 20, 30, 40, 50]

50

40

30

20

10

In [15]:
list1 = [10, 20, 30, 40, 50]

for i in range(len(list1)):
  print(list1[-1-i])

50
40
30
20
10

**Question 9: Display numbers from -10 to -1 using for loop**

-10

-9

-8

-7

-6

-5

-4

-3

-2

-1

In [17]:
for num in range(-10,0):
  print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

**Question 10: Use else block to display a message “Done” after successful execution of for loop**

for i in range(5):

print(i)


Output:

0

1

2

3

4

Done!

In [20]:
for i in range(6):
  if i<5:
    print(i)
  else:
    print("Done")

0
1
2
3
4
Done

**Question 11: Write a program to display all prime numbers within a range**

range

start = 25

end = 50

output:

Prime numbers between 25 and 50 are:

29

31

37

41

43

47

In [26]:
start=25
end=50

import math

print(math.sqrt(end))

7.0710678118654755

In [28]:
for num in range(start, end):
  if num%2==0 or num%3==0 or num%5==0 or num%7==0:
    pass
  else:
    print(num)

29
31
37
41
43
47

**Question 12: Display Fibonacci series up to 10 terms**

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

Fibonacci sequence:

0  1  1  2  3  5  8  13  21  34

In [33]:
start = 0
end = 1

print(start)

for counter in range(1,10):
  print(end)
  start,end=end,start+end

#for i in range(10):
    # print next number of a series
#    print(num1, end="  ")
    # add last two numbers to get next number
#    res = num1 + num2

    # update values
#    num1 = num2
#    num2 = res

0
1
1
2
3
5
8
13
21
34

**Question 13: Find the factorial of a given number**

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

5! = 5 × 4 × 3 × 2 × 1 = 120

output:

120

In [39]:
factorial_val = 1

for i in range(5):
  factorial_val*=(i+1)

factorial_val

120

**Question 14: Reverse a given integer number**

Given:

76542

Expected output:

24567

In [50]:
num = 76542
reverse_number = 0
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print(reverse_number)

24567

**Question 15: Use a loop to display elements from a given list present at odd index positions**

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

output: 20 40 60 80 100

In [52]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(len(my_list)):
  if i%2==0:
    pass
  else:
    print(my_list[i])

20
40
60
80
100

**Question 16: Calculate the cube of all numbers from 1 to a given number**

Write a program to rint the cube of all numbers from 1 to a given number

Given:

input_number = 6

Expected output:

Current Number is : 1  and the cube is 1

Current Number is : 2  and the cube is 8

Current Number is : 3  and the cube is 27

Current Number is : 4  and the cube is 64

Current Number is : 5  and the cube is 125

Current Number is : 6  and the cube is 216

In [55]:
given_num = 6
for num in range(1,given_num+1):
  print("Current Number is :",num, "and the cube is", num*num*num)

Current Number is : 1 and the cube is 1
Current Number is : 2 and the cube is 8
Current Number is : 3 and the cube is 27
Current Number is : 4 and the cube is 64
Current Number is : 5 and the cube is 125
Current Number is : 6 and the cube is 216

**Question 17: Find the sum of the series upto n terms**

calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [59]:
n=5

greatest_num = int("2"*5)
sum = greatest_num

for i in range(1,5):
  greatest_num//=10
  sum+=greatest_num

sum

24690

**Question 18: Print the following pattern**

Write a program to print the following start pattern using the for loop

In [60]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*