Link: https://pynative.com/python-tuple-exercise-with-solutions/

My notes:



*   Tuples are iterable, immutable and ordered
*   tuple1[i] outputs the i'th element in tuple1 (code works the same as lists)
*   **list1 = list(tuple1)** converts a tuple to list
*   **tuple2 = tuple(list2)** converts a list to tuple
*   **Unpack** a tuple (Question 4): tuple1 = (10, 20, 30, 40)  Soln: a, b, c, d = tuple1


So our strategy will be, convert tuple to list -> work on the problem list a "List" problem -> then convert that list to tuple if the output format demands it

**Question 1: Reverse the tuple**

tuple1 = (10, 20, 30, 40, 50)

output_tuple = (50, 40, 30, 20, 10)

In [3]:
tuple1 = (10, 20, 30, 40, 50)

list1 = list(tuple1)

output_list = []
for i in range(len(list1)):
  output_list.append(list1[-1-i])

output_tuple = tuple(output_list)
output_tuple

(50, 40, 30, 20, 10)

**Question 2: Access value 20 from the tuple**

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [8]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

tuple1[1][1]

20

**Question 3: Create a tuple with single item 50**

In [11]:
tuple1 = (50,)
tuple1

#The comma after 50 is what distinguishes it as a tuple with a single item, rather than just the integer value 50

(50,)

**Question 4: Create a tuple with single item 50**

tuple1 = (10, 20, 30, 40)


print(a) # should print 10

print(b) # should print 20

print(c) # should print 30

print(d) # should print 40

In [9]:
tuple1 = (10, 20, 30, 40)

# unpack tuple into 4 variables
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

**Question 5: Swap two tuples in Python**

tuple1 = (11, 22)

tuple2 = (99, 88)

Expected output:

tuple1: (99, 88)

tuple2: (11, 22)

In [12]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple_temp = tuple1
tuple1 = tuple2
tuple2 = tuple_temp

print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

**Question 6: Copy specific elements from one tuple to a new tuple**

tuple1 = (11, 22, 33, 44, 55, 66)

output_tuple: (44, 55)

In [20]:
tuple1 = (11, 22, 33, 44, 55, 66)

output_list = []

for elements in tuple1:

  if elements==44 or elements==55:
    output_list.append(elements)

tuple(output_list)

(44, 55)

**Question 7: Modify the tuple**

tuple1 = (11, [22, 33], 44, 55)

output_list: (11, [222, 33], 44, 55)

In [26]:
tuple1 = (11, [22, 33], 44, 55)

tuple1[1][0]=222
tuple1

(11, [222, 33], 44, 55)

A list element inside a nested tuple (with an inner list) can be changed/updated by calling the index

**Question 8: Sort a tuple of tuples by 2nd item**

tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

output_tuple = (('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [29]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

output_tuple = (tuple1[2],tuple1[0],tuple1[3],tuple1[1])

output_tuple

# actual solution
# tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

**Question 9: Counts the number of occurrences of item 50 from a tuple**

tuple1 = (50, 10, 60, 70, 50)

In [31]:
tuple1 = (50, 10, 60, 70, 50)

cnt = 0

for elements in tuple1:
  if elements==50:
    cnt+=1

cnt

2

**Question 10: Check if all items in the tuple are the same**

tuple1 = (45, 45, 45, 45)

Expected output:

True or False

In [36]:
tuple1 = (45, 45, 45, 45)


def check_tuple_items(q_tuple):
  ref_num = q_tuple[0]
  for element in tuple1:
    if element!=ref_num:
      return(False)
  return(True)

check_tuple_items(tuple1)

True